name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
        cache: 'pip'
  
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pre-commit
  
    # Standard Pre-commit action is much more reliable than manual scripts
    # It handles caching of the hooks automatically
    - name: Run pre-commit
      uses: pre-commit/action@v3.0.1
      with:
        extra_args: --all-files --show-diff-on-failure
